/* 
    COMP 333: Software Engineering
    Reilly Short (rshort@wesleyan.edu)
*/

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fira+Sans+Extra+Condensed&display=swap');

h1 {
    font-family: 'Bungee', cursive;
}

p {
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

body {
    background-color: powderblue;
}


.navbar ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden; 
    background-color: #333;
    text-align: left;
}

.navbar li {
    width: 150 px; 
    display: inline; 
}
.navbar li a{
    color: white;
    border: 1 px solid black; 
    padding: 14px 16px;
    line-height: 40 px; 
}

.navbar li a:hover{
    background-color: lightgray;
}

.flex-container {
    display: flex; 
    flex-wrap: wrap; 
}

.box {
    flex-grow: 1;
    flex-shrink: 1; 
    flex-basis: 1 1 calc(25% - 10px); 
    margin: 5 px;
}

img {
    width: 100%; 
}

iframe {
    width:100%;
    height:100%;
    border: dotted;
}